@use "sass:math";
@import "../mixins.scss";

.form{
    background: #fff;
    @include adaptiveValue("border-radius", 16, 8, 0, 1400, 320);
    @include adaptiveValue("padding", 24, 10, 0, 1400, 320);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.formWrapper{
    display: flex;
    gap: toRem(10);
    justify-content: space-between;
    align-items: center;
}

.formWrapper:not(:last-child){
    @include adaptiveValue("margin-bottom", 10, 4, 0, 1400, 320);
}

.formField{
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 8, 4, 0, 1400, 320);
    text-align: left;
    @include adaptiveValue("font-size", 12, 8, 0, 1400, 320);
    font-weight: 300;
}

.form input[type="text"],
.form input[type="datetime-local"],
.form input[type="time"],
.form select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    @include adaptiveValue("padding", 12, 8, 0, 1400, 320);
    border: 1px solid #ddd;
    border-radius: 8px;
    @include adaptiveValue("height", 50, 30, 0, 1400, 320);
    @include adaptiveValue("font-size", 14, 8, 0, 1400, 320);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #fdfdfd;
    color: rgba(0, 0, 0, 0.634);
}

.form input[type="text"],
.form input[type="datetime-local"],
.form input[type="time"] 
{
    @include adaptiveValue("width", 250, 70, 0, 1400, 320);
}

.form select{
    @include adaptiveValue("width", 150, 60, 0, 1400, 320);
}

.form input:focus, .form select:focus{
    border-color: #d9e7ff;
    box-shadow: 0 0 5px rgba(30,100,110,10)
}

.selectWrapper{
    position: relative;
    display: inline-block;
    width: fit-content;
}

.downIcon{
    position: absolute;
    @include adaptiveValue("right", 12, 4, 0, 1400, 320);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    @include adaptiveValue("width", 16, 10, 0, 1400, 320);
    @include adaptiveValue("height", 16, 10, 0, 1400, 320);
    color: #666;
}

.form span{
    color: rgb(255, 0, 0);
    font-weight: 700;
    @include adaptiveValue("font-size", 12, 8, 0, 1400, 320);
}

.form button{
    background: #eefcfb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    @include adaptiveValue("width", 50, 30, 0, 1400, 320);
    @include adaptiveValue("height", 50, 30, 0, 1400, 320);
    padding: 0;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    align-self: flex-end;
}

.form button:hover{
    border-color: #d9e7ff;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    outline: none;
    
}

.addIcon{
    @include adaptiveValue("font-size", 38, 18, 0, 1400, 320);
}
