#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}
.task-list{
  list-style: none;
  padding: 0; 
  max-width: 400px;
  margin: 0 auto;
}

.many-tasks{
  background-color: #ffcccc;
}

.few-tasks{
  background-color: #ccffcc;
  margin: 20px;
}

.task-item{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item:hover{
  background-color: #88a988;
}

.high-priority {
  color: red;
}

.medium-priority {
  color: orange;
}

.low-priority {
  color: green;
}

.completed{
  text-decoration: line-through;
  color: gray
}