@use "sass:math";
@import "./mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body{
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 32%, rgba(237, 221, 83, 1) 100%);
  margin: 0;
  padding: 0;
  color: #333;
}

header{
  @include adaptiveValue("margin-bottom", 8, 4, 0, 1400, 320);
}

header p{
  text-align: left;
  font-weight: 500;
  margin: 0;
  @include adaptiveValue("font-size", 12, 8, 0, 1400, 320);
  @include adaptiveValue("padding-left", 24, 10, 0, 1400, 320);
  @include adaptiveValue("padding-right", 24, 10, 0, 1400, 320);
  @include adaptiveValue("padding-top", 15, 7, 0, 1400, 320);
  @include adaptiveValue("padding-bottom", 15, 7, 0, 1400, 320);
}

.task-list{
  list-style: none;
  padding: 0; 
  margin: 0 auto;
}

.many-tasks{
  background-color: #ffcccc;
}

.few-tasks{
  background-color: #ffffff;
  margin: 20px;
  padding: 30px;
  border-radius: 15px;
  width: 950px;
}

.task-item{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item:hover{
  background-color: #b6e2b6;
}

.high-priority {
  color: red;
  text-decoration: underline;
}

.medium-priority {
  color: orange;
}

.low-priority {
  color: green;
}

.completed{
  text-decoration: line-through;
  color: gray
}

.deadline{
  font-size: 0.8rem;
  color: #555;
}

.overdue{
  color: red;
  font-weight: bold;
}